header{
    border: 1px solid red;
}
*{
    margin: 0;
    left: 0;
}
.flex{
    display: flex;
    align-items: center;
}
header.flex{
    justify-content: space-between;
    padding-inline: 10%;
    padding-top: 20px;
   
    

   & .sign-in{
        margin-inline: 1.45rem;
    }

 & .sign-in ,
 & .register{
   border: 1px solid black;
   border-radius: 25px;
   padding: 5px 15px;
   text-decoration: none;
   font-size: large;
   color: black;
}
& .cart{
    border: 1px solid black;
    border-radius: 25px;
    padding: 5px 15px;
    text-decoration: none;
    font-size:medium;
    background-color: var(--bodyfont);
    color: var(--blue);

}
& .sign-in:hover ,
& .register:hover,
& .sign-in:hover .fa-solid,
& .register:hover .fa-solid{
background-color: var(--bodyfont);
color: var(--blue);
}
.fa-solid{
    margin-right: 0.3rem;
}
.number-producte{
    position: absolute;
    background-color: red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    color: aliceblue;
    left:0 ;
    top: -10px;
}
& .fa-bag-shopping{
font-size: 2rem; 
}
}